<div class="mdui-container">
    <p></p>
    <div class="mdui-row">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                <tr>
                    <th colspan="2">软件下载</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><i class="mdui-icon material-icons">desktop_windows</i> Windows</td>
                    <td>
                        <div class="mdui-chip" onclick="window.open('https://github.com/v2ray/v2ray-core/releases/latest'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">V2ray-Core </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://github.com/2dust/v2rayN/releases/latest'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">V2rayN </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class="mdui-icon material-icons">desktop_mac</i> Mac OS</td>
                    <td>
                        <div class="mdui-chip" onclick="window.open('https://github.com/v2ray/v2ray-core/releases/latest'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">V2ray-Core </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://github.com/Cenmrev/V2RayX'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">V2rayX </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class="mdui-icon material-icons">android</i> Android</td>
                    <td>
                        <div class="mdui-chip" onclick="window.open('https://github.com/2dust/v2rayNG/releases'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">V2rayNG </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://github.com/V2Ray-Android/Actinium/releases'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">Actinium </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://play.google.com/store/apps/details?id=com.github.dawndiy.bifrostv'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">BifrostV </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class="mdui-icon material-icons">tablet_mac</i> iOS</td>
                    <td>
                        <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/kitsunebi/id1275446921?mt=8','_self'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">Kitsunebi </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/shadowrocket/id932747118?mt=8','_self'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">ShadowRocket </span>
                        </div>
                        &nbsp;
                        <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/pepi/id1283082051?mt=8','_self'); ">
                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                            <span class="mdui-chip-title">Pepi </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>